/*///////////////////////////ESTILOS COMUNES//////////////////////////////////*/
@font-face {
    font-family: 'playballregular';
    src: url('../fuentes/playball-regular-webfont.woff2') format('woff2'),
         url('../fuentes/playball-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alluraregular';
    src: url('../fuentes/allura-regular-webfont.woff2') format('woff2'),
         url('../fuentes/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    margin: 0;
}
body { 
    
/*    grid-gap: 10px;*/
/*    margin: 0;*/
/*    padding: 1em;*/
}
.backgroundImage {
    display: grid;
    grid-template: 
    "sd log log hd   hd   hd   hd   hd   hd" minmax(5.5em, auto)
    "sd ·  ·  ·   nv   nv   nv   nv   nv" minmax(4.5em, auto)  
    "sd main main main main main main main main" minmax(30vh, auto)
    "sd main main main main main main main main" minmax(30vh, auto)
    "sd main main main main main main main main" minmax(30vh, auto)
    "sd main main main main main main main main" minmax(30vh, auto)
    "ft ft ft ft   ft   ft   ft   ft   ft" minmax(4.5em, auto)
    / .15fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr ;
    background-image: url(../imagenes/lovepik-cherry-tree-png-image_400227628_wh1200_transparent.png);
    background-size: cover;
    margin: 1em;
    margin-top: 0;
}
header {
}

.pageHeader {
    grid-area: hd;
    display: flex;
    background-color: transparent;
    padding: 0;
    margin: 0;
    
}
.wrapperLogo {
    grid-area: log;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
}
.logo {
    width: 80%;
    flex: 0 0 auto;
    border: ridge 4px rgb(251, 192, 215);
    border-radius: 0 20%;
    background-color: white;
}

.logo img {
    width: 100%;
    border-radius: 0 20%;
}
.contenedorHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-left: 8em;
    font-family: 'alluraregular';
    padding: 0;
}
.wrapperRrss{
    grid-area: rrss;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.wrapperRrss img {
    width: 2em;
}

.contenedorHeader h1{
    font-family: 'alluraregular';
    font-size: 5em;
    margin: 0; 
    padding: 0;

}

.mainNav {
    grid-area: nv;
    display: flex;
    height: 100%;
    padding:0;
    position: sticky;
    top:1em;
    
}
.espaciadoNav{
    width: 20%;
}

.mainNav ul {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.mainNav ul li {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 8.1em;
    height: 4.75em;
    background-image: url(../imagenes/petalo_sakura_nav2.png);
    background-size: cover;
    padding: 0;
    margin: 0;
   
/*    border: solid*/
}

.mainNav ul li a{
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    color: black;
    font-size: 1em;
    font-family: 'playballregular';
}

.div_desplegable{
    max-height: 50vh;
    position: absolute;
    padding-top: 15.5em;
    text-align: center;
    display: none;
}

.div_desplegable a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.15em;
    height:4.83em;
    color: white;
    background-image: url(../imagenes/petalo_sakura_nav.png);
    background-size: cover;
    font-family: 'playballregular';
    
    
}

/*
.div_desplegable a:hover {
    background-color: #22b78f;
}
*/

.li_desplegable:hover .div_desplegable{
    display: flex;
    flex-direction: column;
    grid-gap: 0.5em;
    transition: 1.5s;
    
}

.tallo {
    grid-area: sd;
    background: linear-gradient(rgb(131, 117, 111), rgb(48, 35, 36)); 
    border-radius: 0 0 40% 0;
}

.mainContent {
    grid-area: main;
/*
    background-image: url(../imagenes/lovepik-cherry-tree-png-image_400227628_wh1200_transparent.png);
    background-size: cover;
*/
}

.pageFooter {
    grid-area: ft;
}
footer {
    background-color: rgb(191, 186, 183);
    border: solid 3px black; 
}