/*///////////////////////////ESTILOS COMUNES//////////////////////////////////*/
@font-face {
    font-family: 'playballregular';
    src: url('../fuentes/playball-regular-webfont.woff2') format('woff2'),
         url('../fuentes/playball-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alluraregular';
    src: url('../fuentes/allura-regular-webfont.woff2') format('woff2'),
         url('../fuentes/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fuentes/roboto-regular-webfont.woff2') format('woff2'),
         url('../fuentes/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    margin: 0;
}
body { 
    max-width: 1400px;
    margin: auto;
    /* background-color: rgb(236, 226, 226); */
    overflow: auto;
}
.backgroundImage {
    display: grid;
    grid-template: 
    "sd log log hd   hd   hd   hd   hd   hd" minmax(5.5em, auto)
    "sd ·  ·  ·   nv   nv   nv   nv   nv" minmax(4.5em, auto)  
    "sd main main main main main main main main" minmax(8vh, auto)
    "sd main main main main main main main main" minmax(8vh, auto)
    "sd main main main main main main main main" minmax(8vh, auto)
    "sd main main main main main main main main" minmax(8vh, auto)
    "ft ft ft ft   ft   ft   ft   ft   ft" minmax(6em, auto)
    /.15fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
    margin-top: 0;
    background-color: transparent;
    position: relative;
}
.bgImgTop {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 50em;
    justify-self: flex-start;
    top: 0;
}

.bgImgBottom{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 80em;
    justify-self: flex-start;
    bottom: 0;
    opacity: 40%;
}

.pageHeader {
    grid-area: hd;
    display: flex;
    background-color: transparent;
    padding: 3em;
    margin: 0;
   
}
.wrapperLogo {
    grid-area: log;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 3em;
    margin-left: 4em;
    position: sticky;
    top:1em;
    
}
.logo {
    width: 12em;
    border: ridge 4px rgb(251, 192, 215);
    border-radius: 0 20%;
    background-color: white;
    transition: .5s;
    position: absolute;
    top: 0em;
    z-index: 25;
}

.logo_sakura {
    width: 100%;
    border-radius: 0 20%;
}

.contenedorHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60%;
    height: 100%;
    margin-left: 8em;
    font-family: 'alluraregular';
    padding: 0;
}

.contenedorHeader h1{
    font-family: 'alluraregular';
    font-size: 5.5em;
    margin: 0; 
    padding: 0;

}
.wrapperRrss {
    display: flex;
    align-items: center;
    padding-right: 5em;
    
}
.cajaRrss{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 4em;
    border: ridge 4px rgb(131, 117, 111);
    background-color: rgba(245, 239, 240, 0.671);
    border-radius: 15% 15%;
}

.wrapperRrss a {
    max-width: 15%;
    margin-left: 1em;
}

.wrapperRrss p {
    font-family: 'playballregular';
    font-size: 1.5em;
    font-weight: 400;
}

.fb, .insta {
    max-width: 75%;
}

.mainNav {
    grid-area: nv;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding:0;
    position: sticky;
    top:2em;
    z-index: 25;
}

.mainNav ul {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.mainNav ul li {
    display: flex;
    align-items: center;
    justify-content:center;
}

.mainNav ul li a{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'playballregular';
    font-size: .75em;
    min-width: 8.92em;
    min-height: 5.33em;
    background-image: url(../imagenes/petalo_sakura_nav2.png);
    background-size: cover;
}

.div_desplegable{
    position: absolute;
    padding-top: 13.6em;
    text-align: center;
    display: none;
    /* transform: scale(110%);
    transition: 1s; */
}

.div_desplegable a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(../imagenes/petalo_sakura_nav2.png);
    background-size: cover;
    font-family: 'playballregular';
    font-size: 0.75em; 
}
.mainNav ul li a:hover{
    transform: scale(110%);
    transition: 1s;
}
.hover_desplegable_on{
    transform: scale(110%);
    transition: 1s;
}
.li_desplegable:hover .div_desplegable{
    display: flex;
    flex-direction: column;
    grid-gap: 0.5em;
}

.mainNav ul li .pagActiva{
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: url(../imagenes/petalo_sakura_active_page.png);
    background-size: cover;   
}

.mainNav ul li div .subPagActiva{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: url(../imagenes/petalo_sakura_active_page.png);
    background-size: cover;
    font-family: 'playballregular';
    font-size: 0.75em; 
    padding:0;
}

.tallo {
    grid-area: sd;
    background: linear-gradient(rgb(131, 117, 111), rgb(48, 35, 36)); 
    border-radius: 0 0 80% 0;
}

.mainContent {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 10.5em;
}

.pageFooter {
    grid-area: ft;
    background-color: rgb(191, 186, 183);
    border: ridge 4px rgb(131, 117, 111);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 7px 7px 7px;
}

.pageFooter p{
    font-family: 'robotoregular';
    margin: 0;
}

.aenkomer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aenkomer img {
    padding: 0;
    max-width: 50%;
}
/*////////////////////////////// FIN ESTILOS COMUNES //////////////////////*/

/*///////////////////////////////inicio.html/////////////////////////////////*/
.mainContent_inicio {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 5em;
}

.subtitulo_inicio {
    /* padding-top: 2em; */
    font-family: 'playballregular';
    font-weight: normal;
    font-size: 2em;
}

.subtitulo2_inicio {
    font-family: 'playballregular';
    font-weight: normal;
    font-size: 2em;
    padding-bottom: 3em;
}

#section1_inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40em;
    padding-top: 2em;
}

#texto_inicio {
    width: 40%;
    font-family: 'robotoregular';
    margin-left: 4em;
}

.galeriaSalon{
    position: relative;
    justify-content: center;
    display: flex;
    min-width: 30em; 
    min-height: 24em;
    border: solid 4px rgb(131, 117, 111);
    border-radius: 20% 0;
    background-color: rgba(246, 242, 247, 0.582);
    margin-right: 4em;
}

.opacity {
    opacity: 1;
}

.hidden {
    opacity: .1;
}

#imagenesSalon {
    width: 90%; 
    position:absolute;
    transition: 3.5s;
    align-self: center;
    z-index: 0;  
    border-radius: 20% 0;
}

.vuelo_petalos{
    display: flex;
    justify-content: center;
    max-width: 50%;
    min-height: 15em;
    padding-top: 3em;
}

.vuelo_petalos img {
    width: 100%;
}

 /*///////////////////////////////inicio.html/////////////////////////////////*/

 /*//////////////////////////////ofertas_peluqueria /////////////////////////////*/
.mainContent_pelu {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.titulo_ofertas {
    font-family: 'alluraregular';
    font-size: 4em;
    
}


.subtitulo_ofertas{
    font-family: 'playballregular';
    font-weight: normal;
    font-size: 2em;
    padding-bottom: 2em;
 }

 .subtitulo2_ofertas{
    width: 80%;
    text-align: center;
    font-family: 'playballregular';
    font-weight: normal;
    font-size: 2em;
    padding: 2em;
    line-height: 1.25em;
 }
 
 .subtitulo2_ofertas a{
     color: black;
 }

 .subtitulo2_ofertas a:hover {
     color: rgb(221, 118, 157);
    }

 /*////////////////////////////GALERIA OFERTAS-PELUQUERIA////////////////////////*/
 
#wrapper_imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%; 
    padding: 2em;
    border: ridge 4px rgb(251, 192, 215);
    border-radius: 10% 10%;
    background-color: rgb(246, 242, 247);
 }

.fila_peinados {
    display: flex;
    justify-content: space-around;
    width: 100%;
     /* padding-left: 11em; */
 }

#wrapper_imagenes .fila_peinados img {
    width: 13%;
    margin: 1.7em;
    cursor: pointer;
    border-radius: 1em;
    border: ridge 2px rgb(251, 192, 215);
 }

#wrapper_imagenes .fila_peinados img:hover {
     filter: opacity(60%);
     filter: grayscale(60%);
     transform: scale(110%);
     transition: 1s;
 }
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 65px;
    font-family: sans-serif;
    cursor: pointer;
  }

.close:hover{
    transform: scale(110%);
    transition: 1s;
}

.flecha{
    height: 9em;
}

.leftArrow{
    position: absolute;
    color: #f1f1f1;
    width: 3em;
    font-weight: bold;
    cursor: pointer; 
    margin-right: 60em;
  }

.leftArrow:hover{
      transform: translateX(-15px);
      transition: 1s;
  }
  
.rightArrow{
    position: absolute;
    color: #f1f1f1;
    width: 3em;
    font-weight: bold;
    cursor: pointer; 
    margin-left: 60em;
}

.rightArrow:hover {
    transform: translateX(15px);
    transition: 1s;
}
 .show_box {
    position: fixed;
    width: 90em;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 100;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.control_figbox {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.slider_figbox{
    display: inline;
    position: absolute;
    bottom: 4em; 
    

}
.slider_figbox .js_galleryImg{
    width: 5em;
    opacity: 0.3;
}

.slider_figbox .img_slider_ampliada{
    transform: scale(140%);
    transition: .5s;
    opacity: 1;
    border: solid 2px rgb(251, 192, 215);

}

.visibilityHidden {
    visibility: hidden;
    
}
.popup {
    position: relative;
    display: inline-block;
    
}

.img_show_box{
    position: absolute;
    z-index: 200;
    transform: scale(34%);
    margin-bottom: 1em;
}

.show {
    animation: fadeIn;
    animation-duration: 1s;
}

.scrollBlock{
    overflow: hidden;
}
/* Add animation (fade in the popup) */

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@media screen and (max-width:1920px)  {
    .img_show_box{
        position: absolute;
        z-index: 200;
        transform: scale(34%);
        margin-bottom: 4em;
    }

    .slider_figbox{
        display: inline;
        position: absolute;
        bottom: 2em; 
        
    
    }
    .slider_figbox .js_galleryImg{
        width: 3.5em;
    }

    .slider_figbox .img_slider_ampliada{
        transform: scale(140%);
        transition: .5s;
        opacity: 1;
        border: solid 2px rgb(251, 192, 215);
    
    }

    .leftArrow{
        position: absolute;
        color: #f1f1f1;
        width: 3em;
        font-weight: bold;
        cursor: pointer; 
        margin-right: 50em;
        margin-bottom: 5em;
      }

      .rightArrow{
        position: absolute;
        color: #f1f1f1;
        width: 3em;
        font-weight: bold;
        cursor: pointer; 
        margin-left: 50em;
        margin-bottom: 5em;
    }
}

@media screen and (max-width:1536px)  {
    .img_show_box{
        position: absolute;
        z-index: 200;
        transform: scale(28%);
        margin-bottom: 6em;
    }

    .slider_figbox{
        display: inline;
        position: absolute;
        bottom: 1em; 
        
    
    }
    .slider_figbox .js_galleryImg{
        width: 3.5em;
    }

    .slider_figbox .img_slider_ampliada{
        transform: scale(140%);
        transition: .5s;
        opacity: 1;
        border: solid 2px rgb(251, 192, 215);
    
    }

    .leftArrow{
        position: absolute;
        color: #f1f1f1;
        width: 3em;
        font-weight: bold;
        cursor: pointer; 
        margin-right: 50em;
        margin-bottom: 5em;
      }

      .rightArrow{
        position: absolute;
        color: #f1f1f1;
        width: 3em;
        font-weight: bold;
        cursor: pointer; 
        margin-left: 50em;
        margin-bottom: 5em;
    }
}

/*///////////////////////ofertas-belleza.html/////////////////////*/

#wrapper_visor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 48em;
    height: 30em;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 20px;
    margin-top: 3em;
    margin-bottom: 1em;
}

.subtitulo_belleza{
    font-family: 'playballregular';
    font-weight: normal;
    font-size: 2em;  
}

.wrapper_icon_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: silver;
    margin-left:3.5em;
    cursor: pointer;
}

.wrapper_icon_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: silver;
    margin-right:3.5em;
    cursor: pointer;
}

.wrapper_icon_left_decrease {
    transform: scale(92%);
    transition: 0.1s;
}


.wrapper_icon_right_decrease {
    transform: scale(92%);
    transition: 0.1s;
}

.left {
    color: black;
    padding-left: .35em;
}

.right{
    color: black;
    padding-left: 0.15em;
}

.visor {
    position: relative;
    width: 30em;
    height: 23em;
    margin: auto;
    border: ridge 6px rgb(251, 192, 215);
    border-radius: 15px;
    overflow: hidden;   
    transition: 0.1s; 
}

.visor_reducido {
    position: relative;
    width: 18em;
    height: 23em;
    margin: auto;
    border: ridge 6px rgb(251, 192, 215);
    border-radius: 15px;
    overflow: hidden;   
    transition: 0.7s;  
}

#slider img{
    width: 30em;
    height: 23em;
}

#slider #imagen5 {
    width: 18em;
}
#slider #imagen7{
    width: 18em;
}

#slider {
    width: 186em;
    position: absolute;
    cursor: pointer;
}

.transicion{
    transition: 1s;
}

.img_show_box_products{
    position: absolute;
    z-index: 200;
    transform: scale(17%);
}

.img_show_box_products_ampliado{
    position: absolute;
    z-index: 200;
    transform: scale(34%);
}

.movimiento_left0{
    left: 0em;
}
.movimiento_left1{
    left: -30em;
}
.movimiento_left2{
    left: -60em;
}
.movimiento_left3{
    left: -90em;
}
.movimiento_left4{
    left: -120em;
}
.movimiento_left5{
    left: -138em;
}
.movimiento_left6{
    left: -168em;
}

/*/////////////////////////contacto.html/////////////////////////////*/

.mainContent_contacto {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    ;
}

.titulo_contacto {
    font-family: 'alluraregular';
    align-self: center;
    font-size: 4em;
}

.contacto_acceso{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50em;
 }

.location {
    padding: 1em;
    font-family: 'playballregular';
    font-size: 1.5em;
}

.iframe_maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 3em;
}

#wrapper_texto_horario{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: ridge 4px rgb(131, 117, 111);
    border-radius: 20% 8px;
    margin-top: 2em;
    background-color: rgba(255, 220, 234, 0.485);
}

.horario_texto_title {
    font-family: 'playballregular';
    margin: 0.25em 0em;
    font-size: 1.2em;
    padding: 0;
}

.horario_texto {
    line-height: 1.7em;
    font-family: 'robotoregular';
    padding: 0;
    margin: 0;
}

.horario_texto span {
    font-weight: bolder;
}

.presentacion_formu {
    width: 60%;
    font-family: 'robotoregular';
    padding: 1em;
}

#formu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#formu form {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba(251, 192, 215, 0.485);
    padding: 1em;
    border-radius: 15px;
}

#formu label {  
    font-family: 'robotoregular';
    font-weight: bold;
    line-height: 1.2em;
} 

[type="text"] {
    width: 100%;
    border: solid 2px #aaa;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    padding-left: 40px;
    margin-bottom: 1.5em;
}
[type="email"] {
    width: 100%;
    border: solid 2px #aaa;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    padding-left: 40px;
    margin-bottom: 1.5em;
}

[type="tel"] {
    width: 100%;
    border: solid 2px #aaa;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    padding-left: 40px;
    margin-bottom: 1.5em;
} 

.div_input {
    position: relative;
}

.div_input i{
    position: absolute;
    left: 0px;
    top: 6px;
    padding: 9px 8px;
    color: #aaa;
}

[type="text"]:focus {
    border-color: darkcyan;
    box-shadow: 0 0 8px darkcyan;
}

[type="text"]:focus + i {
    color: darkcyan;
}

[type="email"]:focus {
    border-color: darkcyan;
    box-shadow: 0 0 8px darkcyan;
}

[type="email"]:focus + i {
    color: darkcyan;
}

[type="tel"]:focus {
    border-color: darkcyan;
    box-shadow: 0 0 8px darkcyan;
}

[type="tel"]:focus + i {
    color: darkcyan;
}


textarea {
    resize: none; 
    margin-bottom: 1.5em;
    border: solid 2px #aaa;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

textarea:focus {
    border-color: darkcyan;
    box-shadow: 0 0 8px darkcyan;
}


#formu #obligatorio {
    font-size: 1em;
    padding: .5em;
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 5px;
    font-family: 'robotoregular';
}

#commit {
    font-size: 1em;
    max-width: 100%;
    padding: .5em;
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 5px;
}

#formu span {
    color: red;
}

[type="submit"]{
    width: 20%;
    padding: 0;
    padding: .4em 0;
    border: solid 2px #197783;
    border-radius: 15%;
    align-self: center;
    margin-bottom: 1em;
}

[type="reset"]{
    width: 30%;
    padding: .4em 0;
    border: solid 2px #197783;
    border-radius: 15%;
    align-self: center;
}